body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    color: rgb(178, 161, 161);
}

.upper-para {
    color: white;
    padding: 50px;
    font-size: 20px;
}

.blue-color {
    color: lightblue;
}

.button-click {
    padding: 15px 30px;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.upper-section {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 100px 300px;
    margin-bottom: 100px;
}

.donate-today {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.display-flexible {
    display: flex;
}

.money-amount {
    width: 100%;
    text-align: center;
}

.money-amount div {
    width: 15%;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(237, 232, 232);
    margin: 2%;
    padding: 30px;
    margin-bottom: 70px;
}

.donate-today p {
    font-size: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    margin-bottom: 50px;
}

#color-marked {
    border: 2px solid orange;
    color: orange;
    border-radius: 10px;
}

.donate-plan {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#donate-plan-para {
    font-size: 20px;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.donate-plan .donate-sector {
    width: 100%;
}

.donate-plan .donate-sector .donate-food {
    background-color: rgb(234, 241, 246);
    text-align: left;
    padding: 30px;
    width: 30%;
    margin: 10px;
}

.donate-plan .donate-sector .donate-shelter {
    background-color: rgb(246, 230, 232);
    text-align: left;
    padding: 30px;
    width: 30%;
    margin: 10px;
}

.donate-plan .donate-sector .donate-education {
    background-color: rgb(240, 231, 166);
    text-align: left;
    padding: 30px;
    width: 30%;
    margin: 10px;
}

.donate-plan .donate-sector p {
    font-size: 15px;
}

.get-update {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.form-container {
    background-color: rgb(228, 208, 211);
    width: 100%;
    height: 100px;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.get-update p {
    font-size: 18px;
    color: rgb(161, 143, 143);
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

#email {
    background-color: rgb(240, 228, 228);
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-right: 0;
}

#submit {
    background-color: rgb(182, 60, 60);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0;
}

footer {
    background-color: black;
    padding: 20px;
}

footer h4 {
    color: orange;
    text-align: center;
    font-size: 27px;
}

footer h6 {
    color: white;
    text-align: center;
    font-size: 16px;
}

/* .donation-collection {
    width: 100%;
}*/

.donation-collection .half-width {
    width: 90%;
    padding: 20px;
}

#donation-collection-para {
    margin-top: 100px;
    padding: 30px;
}

.donation-collection .half-width h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.donation-collection .half-width p {
    text-align: justify;
    font-size: 15px;
    color: rgb(70, 66, 66);
}

.donation-collection .half-width div {
    margin-bottom: 70px;
}